<!-- Fixed navbar -->
<nav class="header">
  <goat-header
    class='brand'>

    <div slot='left'>
      <goat-header-brand
        logo="/assets/img/logo.png"
        name="{{ site.title }}"
        sub-title="{{ site.tagline }}"
        href="/#"></goat-header-brand>
    </div>

    <div slot='right' class="slot-right">
      <goat-button target="_blank"
                          color="primary"
                          icon="logo--github"
                          variant="ghost"
                          title="Github"
                          href='https://github.com/justaos'></goat-button>
    </div>
  </goat-header>
</nav>


