<!-- Fixed navbar -->
<nav class="header">
  <goat-header
    class='brand actions-separated'>

    <div slot='left-section'>
      <goat-header-brand
        logo="/assets/img/logo.png"
        name="{{ site.title }}"
        sub-title="{{ site.tagline }}"
        href="/#"></goat-header-brand>
    </div>

    <div slot='right-section'>
      <goat-button class='full-height color-brand-primary'
                   target="_blank"
                   icon="github"
                   variant='ghost'
                   href='https://github.com/justaos'
                   itemprop=url>Github</goat-button>
    </div>
  </goat-header>
</nav>


